
  
    <youtube passed-from-main-controller='ctrl.user' > <!-- this is object user from Main Controller -->
          <div id="container" style='border: 3px double green' > 
            
            <div id="youtubePlayer" style="width: 100%;"></div>
            <p>this data comes from main controller {{ctrl.user.username}} </p>
            <div class="listContainer" style='height: 400px;overflow-x:hidden;overflow-y:scroll;'>
                      
                    <article ng-click="youtubeskeleton.selectVideo(youtubeskeleton.content[$index].videoId)" ng-repeat="content in youtubeskeleton.content track by $index" class="row" style="margin:5px;cursor: pointer;border-bottom: 1px dotted brown;">
                          
                          <figure  class="col-sm-4">
                            <img class="pic" ng-src="{{content.pic}}" style="width: 100%;height: auto;">
                          </figure>
                          <div class="col-sm-8">
                                  <h4>
                                      {{$index+1}}:{{content.title}}
                                  </h4>
                                  <p>
                                    by {{content.channelTitle}}
                                  </p>
                          </div>
                   </article>

            </div>
          </div>



    </youtube>  


<!-- <iframe id="player" type="text/html" width="640" height="390"
  src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
  frameborder="0">
</iframe> -->